.contain {
    display: grid;
    grid-template-areas:
    "a" "m" "p" "p1" "p2" "p3";

    grid-template-columns: 1fr; /*сколько равных частей будет занимать колонка*/
    grid-gap: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.myPost {
    grid-area: m;
    background-color: #579fbf;
}

.writePost {
    grid-area: p;
    margin: 20px 0 0 0;
    background-color: #579FBF;
}
.message {
    margin-bottom: 10px;
}
