.navBlock {
    background-color: rgba(47, 193, 211, 0.29);
    grid-area: n;
    display: flex;
    justify-content: center;
}

.navItem {
    line-height: 52px;
    margin-top: 20px;
}

.navItem a {
    text-decoration: none;
    text-transform: uppercase;
    color: #14729b;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 5px;
}

.item a.active {
    color: rgba(43, 168, 124, 0.78);
}