.topHeader {
    grid-area: h;
    background-color: rgba(220, 220, 220, 0.22);
    width: 100%;
}
.container {
    width: 100%;
    display: flex;
    align-items: center;
}
.container img {
    width: 80px;
}
.logo {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.itemHeader {
    color: #092c4f;
    padding-left: 4px;
}

.blockLogin {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.blockLogin a {
    color: #14729b;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    transition: ease-in-out 200ms;
}

.blockLogin a:hover {
    color: rgba(43, 168, 124, 0.78);
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    transition: ease-in-out 200ms;
}
.photoSmall {
    margin-left: 5px;
}

.photoSmall img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}