.topHeader {
    grid-area: h;
    background-color: rgba(220, 220, 220, 0.22);
}
.topHeader img {
    padding-left:  16%;
    width: 80px;
}
.logo {
    display: flex;
}
.itemHeader {
    color: #092c4f;
    padding-left: 4px;
}