.image {
    width: 100%;
    height: 300px;
    background-image: url("https://static1.gensler.com/uploads/image/41812/filename/_000-cities-comfidential-2000x1125_1642627052.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.avaDesc {
    grid-area: a;
    background-color: #888;
    margin: 20px 0 0 20px;
}
.imageJob {
    background-image: url("https://i.ytimg.com/vi/yF_2L6UN81E/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
}

.imageFindJob {
    background-image: url("https://st3.depositphotos.com/1177973/13993/i/600/depositphotos_139931542-stock-photo-handsome-young-programmer.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
}

.blockContacts {
    width: 40%;
    border: 1px solid;

}
.contacts {
    display: inline-block;
    display: flex;
    justify-content: space-between;
}