.blockPosts {
    margin-top: 20px;
}

.post1 .img_ava {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 25px;
}
.accountItems {
    width: 80%;
    padding: 15px 0;
    background-color: rgba(47, 193, 211, 0.29);
    border-radius: 50px;
    display: flex;
    align-items: center;

}
.blockMessage {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

