
.app-wrapper {
  width: 100%;

  display: grid;
  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 8fr;/*сколько равных частей будет занимать колонка*/
  grid-gap: 10px; /*расстояние между элементами*/
  overflow: hidden;
}




