.dialogs {
    width: 100%;
    display: flex;
}

.dialogItems {
    width: 25%;
    line-height: 30px;
}

.dialogs .dialog {
    background-color: rgba(0, 139, 139, 0.73);
    font-size: 20px;
    color: #555;
}

.messages {
    width: 50%;
    background-color: rgba(0, 139, 139, 0.44);
    padding: 20px 20px 0 20px;
}

.blockItem:nth-of-type(even) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    row-gap: 1px;
}
.blockForm {
    display: flex;
    margin-top: 2px;
}

.blockInput textarea {
    width: 230px;
}


